@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=VT323&display=swap');

.colored-toast.swal2-icon-success {
    filter: drop-shadow(0 0 4px rgba(165, 220, 134, 0.6)) drop-shadow(0 0 8px rgba(165, 220, 134, 0.4)) drop-shadow(0 0 12px rgba(165, 220, 134, 0.3));
    background: linear-gradient(45deg, #8bd450, #a5dc86);
}

.colored-toast.swal2-icon-error {
    filter: drop-shadow(0 0 4px rgba(255, 0, 0, 0.6)) drop-shadow(0 0 8px rgba(255, 0, 0, 0.4)) drop-shadow(0 0 12px rgba(255, 0, 0, 0.3));
    background: linear-gradient(45deg, #ff1e56, #ff4c4c);
}

.colored-toast.swal2-icon-warning {
    filter: drop-shadow(0 0 4px rgba(248, 187, 134, 0.6)) drop-shadow(0 0 8px rgba(248, 187, 134, 0.4)) drop-shadow(0 0 12px rgba(248, 187, 134, 0.3));
    background: linear-gradient(45deg, #f7b733, #f8bb86);
}

.colored-toast.swal2-icon-info {
    filter: drop-shadow(0 0 4px rgba(63, 195, 238, 0.6)) drop-shadow(0 0 8px rgba(63, 195, 238, 0.4)) drop-shadow(0 0 12px rgba(63, 195, 238, 0.3));
    background: linear-gradient(45deg, #00c6ff, #3fc3ee);
}

.colored-toast.swal2-icon-question {
    filter: drop-shadow(0 0 4px rgba(135, 173, 189, 0.6)) drop-shadow(0 0 8px rgba(135, 173, 189, 0.4)) drop-shadow(0 0 12px rgba(135, 173, 189, 0.3));
    background: linear-gradient(45deg, #6a82fb, #87adbd);
}

.colored-toast .swal2-title {
    color: white;
}

.colored-toast .swal2-close {
    color: white;
}

.colored-toast .swal2-html-container {
    color: white;
}

.vt323 {
    font-family: "VT323", monospace;
    font-size: 1.15em;
    font-style: bold;
}